.container{
    background-color:  #f7f7f7;
    height: 1000px;
    width: auto;
    margin-top:30px;
    margin-bottom: 2px;
}
h1{
    margin-top: -30px;
    padding-left: 300px;
    padding-top: 300px;
    height: 50px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: left;
    padding: 5px;
    background: #FFFFFF;
    box-shadow: 0px 3px 30px #7B7B7B29;
    opacity: 1;
    letter-spacing: 0px;
}
.symbol{
    margin-left: 1100px;
    color: #00A5EC;
    font-size: 22px;
}
.symbol-index2{
    margin-left: 20px;
    color: #00A5EC;
    font-size: 22px;
}
.symbol-index3{
    margin-left: 20px;
    color: #424242;
    font-size: 20px;
}
#new-task{
    margin-right: 50px;
    font: normal 20px/20px Inter;
    letter-spacing: 0px;
    color: #424242;
    opacity: 1;
    cursor: pointer;
}
#back{
    font: normal 20px/20px Inter;
    color: #424242;
    letter-spacing: 0px;
    opacity: 1;
}
span{
    color: #00A5EC;
}
a{
    text-decoration: none;
}
#flex-container{
    display: flex;
    flex-wrap: wrap;
}
.items{
    margin-left: 150px;
    margin-top: 40px;
    border: 2px solid #ededed;
    background: #FFFFFF;
    opacity: 1;
    height: 200px;
    width:200px;
    top:220px;
    left:200px;
    border-radius: 10px;
}
.items:hover{
    box-shadow: 9px 9px 5px gray;
}
.item1{
    height:250px;
    width: 250px; 
    margin-left: 540px;
    margin-top: 40px;
    border: 2px solid #ededed;
    background: #FFFFFF;
    opacity: 1;
    top:220px;
    left:200px;
    border-radius: 10px;
}
hr{
    border: 1px solid #EDEDED;
    opacity: 1;
}
h3{
    text-align: left;
    margin-left: 18px;
    font-size: 15px;
    color: #00A5EC;
    opacity:1;
    height: 20px;
    width: 300px;
    top: 254px;
}
.blur{
    text-decoration: line-through;
    color: #C2C2C2;
    margin-left: 15px;
    accent-color:gray; 
    transform:scale(1);
}
.main{
    margin-left: 15px;
}
/* index-2 */
.filter-div{
    filter: blur(5px);
   /* filter: brightness(30%); */
}
#add-task{
    text-align: center;
    background-color:blue;
    color: white;
    float: right;
    margin-right: 15px;
    height: 30px;
    width: 120px;
}
.sub-container{
    margin-top: 180px;
    height: 150px;
    width: 350px;
    border-radius: 5px;
    margin-left: 300px;
    background:white;
}
/* index-4 */
.popup-container{
    position: absolute;
    top: 30%;
    left:39%;
    height: 190px;
    width: 320px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #EDEDED;
    transform: translate(-50% -50%);
}
.header{
    height:15px;
    border-radius: 3px 3px 0 0;
}
.header h4{
    color: black;
    padding-left: 30px;
    font-weight: normal;
    font-weight: bold;
}
.xmark{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 15px;
    cursor:pointer;
}
.add-item-btn{
    height: 15px;
    width: 60px;
    position: absolute;
    bottom:12px;
    right:25px;
    border: 1px solid #00A5EC;
    border-radius: 3px;
    color:#00A5EC;
    padding:8px 10px;
    font-size: 12px;
    cursor: pointer;
}
.add-item-btn:hover{
    background:#00A5EC;
    color:white;
}
#places{
    border-radius: 2px rgb(212, 209, 209);
    width: 270px;
    background-color:whitesmoke;
    opacity: 1;
}
@media screen and (min-width: 320px) and (max-width:480px){
    #new-task{
        visibility: hidden;
    }
    body{
        height: 1000px;
    }
    #flex-container{
        margin: -40px;
    }
    .symbol{
        margin-left: 150px;
        font-size:30px;
        text-align: center;
    }
    .item1{
        margin-left: 60px;
    }
    .popup-container{
        position: absolute;
        top: 30%;
        left:10%;
        height: 190px;
        width: 320px;
        background-color: white;
        border-radius: 10px;
        border: 2px solid #EDEDED;
        transform: translate(-50% -50%);
    }
}
